<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itaobox.game.testgame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.itaobox.game.testgame.MainActivity" >
            <!--android:label="@string/app_name" -->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Game" android:configChanges="orientation"/>
        <activity android:name=".Game1" android:configChanges="orientation"/>
        <activity android:name=".SampleItaoboxSprite" android:configChanges="orientation"/>
    </application>

</manifest>
